<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-md-6">
    <!-- <div class="container"> -->
    <h2 class="text-white mb-3">Current Fixtures</h2>
    <!-- <div class="overflow-auto fixture-container" style="max-height: 950px"> -->
    <% for (let fixture of currentFixtures) { %>
    <div class="fixture-box row m-1 pt-3" id="fixture-<%= fixture._id %>">
      <div class="col-4 text-center">
        <img src="<%= fixture.teams.home.logo %>" alt="" style="height: 75px; width: 75px" />
        <p><%= fixture.teams.home.name %></p>
      </div>
      <div class="col-4 text-center">
        <h5>
          <span id="home-goals"><%= fixture.goals.home %></span> -
          <span id="away-goals"><%= fixture.goals.away %></span>
        </h5>
        <p><%= fixture.matchDate %></p>
        <p><%= fixture.matchTime %></p>
        <p id="match-status"><%= fixture.status.long %></p>
      </div>
      <div class="col-4 text-center">
        <img src="<%= fixture.teams.away.logo %>" alt="" style="height: 75px; width: 75px" />
        <p><%= fixture.teams.away.name %></p>
      </div>
    </div>
    <% } %>
    <!-- </div>
    </div> -->
  </div>

  <div class="col-md-6">
    <h2 class="text-white mb-3">Premier League Table</h2>
    <div class="league-table-container rounded">
      <table class="table table-striped" id="league-table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Pos</th>
            <th scope="col">Team</th>
            <th class="text-center" scope="col">P</th>
            <th class="text-center" scope="col">W</th>
            <th class="text-center" scope="col">D</th>
            <th class="text-center" scope="col">L</th>
            <th class="text-center" scope="col">GF</th>
            <th class="text-center" scope="col">GA</th>
            <th class="text-center" scope="col">GD</th>
            <th class="text-center" scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <% for(position of league.standings) { %>
          <tr>
            <td class="text-center" scope="row"><%= position.rank %></td>
            <td>
              <img src="<%= position.team.logo %>" alt="" style="height: 25px; width: 25px" class="me-1" /><%= position.team.name
              %>
            </td>
            <td class="text-center"><%= position.all.played %></td>
            <td class="text-center"><%= position.all.win %></td>
            <td class="text-center"><%= position.all.draw %></td>
            <td class="text-center"><%= position.all.lose %></td>
            <td class="text-center"><%= position.all.goals.for %></td>
            <td class="text-center"><%= position.all.goals.against %></td>
            <td class="text-center"><%= position.goalsDiff %></td>
            <td class="text-center"><strong><%= position.points %></strong></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  const fixtures = <%- JSON.stringify(currentFixtures) %>
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/homeWS.js"></script>
