<% layout('layouts/boilerplate') %>

<h1>Premier League Table</h1>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Position</th>
                    <th scope="col">Team</th>
                    <th scope="col">P</th>
                    <th scope="col">W</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <th scope="col">GD</th>
                </tr>
            </thead>
            <tbody>
                <% for(position of league.standings) { %>
                <tr>
                    <th class="text-center" scope="row"><%= position.rank %></th>
                    <td><img src="<%= position.team.logo %>" alt="" style="height: 25px; width: 25px"
                            class="me-1"><%= position.team.name %></td>
                    <td><%= position.all.played %></td>
                    <td><%= position.all.win %></td>
                    <td><%= position.all.draw %></td>
                    <td><%= position.all.lose %></td>
                    <td><%= position.all.goals.for %></td>
                    <td><%= position.all.goals.against %></td>
                    <td><%= position.goalsDiff %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>