<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-md-6">
    <div class="container" id="fixture-container">
    <h4>Matchweek <%= currentRound %> Fixtures</h4>
    <% for (let fixture of roundFixtures) { %>
    <div class="row mb-2 fixture-box box-shadow-rounded" id="fixture-<%= fixture._id %>">
      <div class="col-4 text-center d-flex flex-column align-items-center justify-content-center home-team">
        <img src="<%= fixture.teams.home.logo %>" alt="" class="team-logo mb-1" />
        <p><%= fixture.teams.home.name %></p>
      </div>
      <div class="col-4 text-center d-flex flex-column align-items-center justify-content-center game-details">
        <p><span id="match-status" class="badge rounded-pill purple-badge"><%= fixture.status.long %></span></p>
        <h5>
          <span id="home-goals"><%= fixture.goals.home %></span> - 
          <span id="away-goals"><%= fixture.goals.away %></span>
        </h5>
        <p><%= fixture.matchDate %></p>
        <p><%= fixture.matchTime %></p>
      </div>
      <div class="col-4 text-center d-flex flex-column align-items-center justify-content-center away-team">
        <img src="<%= fixture.teams.away.logo %>" alt="" class="team-logo mb-1" />
        <p><%= fixture.teams.away.name %></p>
      </div>
    </div>
    <% } %>
    </div>
  </div>

  <div class="col-md-6">
    <div id="league-table-container">
      <h4>League Table</h4>
      <table class="table box-shadow-rounded" id="league-table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Pos</th>
            <th class="" scope="col">Team</th>
            <th class="text-center" scope="col">P</th>
            <th class="text-center" scope="col">W</th>
            <th class="text-center" scope="col">D</th>
            <th class="text-center" scope="col">L</th>
            <th class="text-center" scope="col">GF</th>
            <th class="text-center" scope="col">GA</th>
            <th class="text-center" scope="col">GD</th>
            <th class="text-center" scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <% for(const position of league.standings) { %>
          <tr>
            <td class="text-center" scope="row"><strong><%= position.rank %></strong></td>
            <td>
              <img
                src="<%= position.team.logo %>"
                alt=""
                style="height: 25px; width: 25px"
                class="me-1"
              /><%= position.team.name %>
            </td>
            <td class="text-center"><%= position.all.played %></td>
            <td class="text-center"><%= position.all.win %></td>
            <td class="text-center"><%= position.all.draw %></td>
            <td class="text-center"><%= position.all.lose %></td>
            <td class="text-center"><%= position.all.goals.for %></td>
            <td class="text-center"><%= position.all.goals.against %></td>
            <td class="text-center"><%= position.goalsDiff %></td>
            <td class="text-center"><strong><%= position.points %></strong></td>
          </tr>
          <% } %>
          <tfoot>
            <td colspan="10">
              <span class="badge rounded-pill">Champions League</span>
              <span class="badge rounded-pill">Europa League</span>
              <span class="badge rounded-pill">Conference League</span>
              <span class="badge rounded-pill">Relegation</span>
            </td>
          </tfoot>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  const fixtures = <%- JSON.stringify(roundFixtures) %>
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/homeWS.js"></script>
